.loginForm {
  background-color: var(--light-color);
  width: 100%;
  padding: 5rem 2rem 2rem 2rem;
  margin: 9rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
    
}

.usernameLabel {
    font-size: 1.5rem;
}
.passwordLabel {
    font-size: 1.5rem;
}

#username {
    width: 200px;
    font-size: 1.5rem;
    border-width: 1px;
    border-radius: 5px;
    margin: 0.5rem;
}

#password {
    width: 200px;
    font-size: 1.5rem;
    border-width: 1px;
    margin-bottom: 2rem;
    border-radius: 5px;
    margin: 0.5rem;
    
}

.submitButton {
    margin-top: 3rem;
    width: 10rem;
    font-size: 2rem;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    color: var(--dark-color);
    
}